<!-- ======= More Services Section ======= -->
<section id="more-services" class="more-services">
  <div class="container">
    <div class="row">
      <% @grid_service_items.each do |item| %>
        <div class="col-md-6 d-flex align-items-stretch mt-4">
          <div class="card" style='background-image: url("<%= asset_path('more-services-'+item.position.to_s+'.jpg')%>");' data-aos="fade-up" data-aos-delay="100">
            <div class="card-body">
              <h5 class="card-title"><a href=""><%= item.header %></a></h5>
              <p class="card-text"><%= item.description %></p>
              <div class="read-more"><a href="#"><i class="icofont-arrow-right"></i> Read More</a></div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section> <!-- End More Services Section -->