<h1>Editing Horizon Service Item</h1>

<%= render 'form', horizon_service_item: @horizon_service_item %>

<%= link_to 'Show', @horizon_service_item %> |
<%= link_to 'Back', horizon_service_items_path %>
