<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      <strong><%= "В #{object.model_name.human} обнаружено #{object.errors.count}" %>.</strong><br>
      <strong><%= 'Выявлены следующие проблемы:' %></strong>
    </div>
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>